.MasBuscadas {
  display: block;
}
.listBusquedas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link-search {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 0;
}
.title-select {
  width: 100%;
  text-align: center;
}
.select-form {
  text-align: center;
}
.select-form button {
  margin: 1rem 0;
  padding: 2% 5%;
  border: none;
  border-radius: 0.3rem;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  font-weight: 600;
  box-shadow: -2px 2px 5px 0 #fff;
}
.select-form button:hover {
  transition: all 0.2s linear;
  background-color: #fff;
  color: #1a1c22;
}
.select-form input {
  margin: 1rem 0;
  padding: 1% 2%;
  border: none;
  border-radius: 0.3rem;
  background-color: transparent;
  color: #fff;
  outline: none;
  border: none;
  border: 0.5px solid #fff;
  box-shadow: -2px 2px 5px 0 #fff;
}
.busqueda {
  margin-top: 0.5rem;
  text-align: center;
}
@media screen and (max-width: 620px) {
  .busqueda {
    width: 100%;
  }
  .busqueda h1 {
    margin: 0;
  }
  .select-form {
    padding: 0;
  }
  .select-form button {
    margin: 0.5rem;
    padding: 1% 5%;
  }
  .MasBuscadas {
    display: none;
  }
}
